.env
__pycache__/
.coverage
.coveragerc
.vscode
static/uploads/download_1.jpg
static/uploads/download.jpg
static/uploads/Gemini_Generated_Image_wj0h7awj0h7awj0h.png
static/uploads/rklogo-removebg-preview.png
static/uploads/Screenshot_2025-07-10_145450.png
static/uploads/Screenshot_2025-07-10_145544.png
credentials.json