<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Log In - Localate</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

  <nav class="navbar">
    <div class="nav-logo">
      Localate <img src="{{ url_for('static', filename='cat_logo.svg') }}" alt="Localate Logo" class="nav-icon">
    </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <ul class="nav-links">
      <li><a href="{{ url_for('business.index') }}"><img src="{{ url_for('static', filename='home_logo.svg') }}" alt="Home Icon" class="nav-icon-small"> Home</a></li>
      <li><a href="{{ url_for('business.dashboard') }}"><img src="{{ url_for('static', filename = 'dash_svg.svg') }}" alt ="Dash Icon" name="dash-icon" class="nav-icon-small"> Dashboard</a></li>
      <li><a href="{{ url_for('auth.login') }}"><img src="{{ url_for('static', filename = 'login.svg') }}" alt ="Login Icon" name="login-icon" class="nav-icon-small"> Login</a></li>
      <li><a href="{{ url_for('auth.signup') }}"><img src="{{ url_for('static', filename = 'sign.svg') }}" alt ="Sign Up Icon" name="sign-icon" class="nav-icon-small"> Sign Up</a></li>
    </ul>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </nav>

  <section class="auth-section">
    <h2>Login</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <form method="POST" class="auth-form">
      <input name="username_or_email" placeholder="Username or Email" required />
      <input name="password" type="password" placeholder="Password" required />
      <button type="submit" class="cta-button">→</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>
  </section>

</body>
</html>
